<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>769791121505-ijkcr73s15g60o302dt8op6j2qvpkgrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769791121505-ijkcr73s15g60o302dt8op6j2qvpkgrk</string>
	<key>API_KEY</key>
	<string>AIzaSyAb1kFynJplQicIEd5FXaUwFQQGEJ4dCZo</string>
	<key>GCM_SENDER_ID</key>
	<string>769791121505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fengchao.ChatChatOnFire</string>
	<key>PROJECT_ID</key>
	<string>chatchatonfire</string>
	<key>STORAGE_BUCKET</key>
	<string>chatchatonfire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:769791121505:ios:bea5eb7664cd36fd</string>
	<key>DATABASE_URL</key>
	<string>https://chatchatonfire.firebaseio.com</string>
</dict>
</plist>